:root {
    -- link-color: red;
    -- text-color;
    -- text-font-family: "Roboto" sans-serif;
}

.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
   }

.global-header a 
.global-header a:visited {
    color: var(-- link color);
}

.global-header li {
    list-style-type: none;
    }

.global-header {
    color: #2E2F42;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 72px;
    border: 15px;
    margin-block-start: 0%;
    border: 5px black;
    padding: 24px;
}

.logo1::before {
    content: "Web";
    color: blue;
    Width: 115px;
    Height: 24px;
    font-weight: 800;
}

.logo1::after {
    content: "Studio";
    color: black;
    font-weight: 800;
}

.global-header :hover {
    color: chartreuse;
}

.button {
    Width: 261px;
    Height: 24px;
    Gap: 40px;
    Weight: 500;
    display: flex;
    justify-content: space-around;
    margin-block-start: 0%;   
  }

.contact1 {
    color: black;
    Width: 153px;
    Height: 24px;
}

.contact2 {
    color: black;
    Width: 151px;
    Height: 24px;
}

.button-section {
   display: flex;
     
}

.list-button {
    display: flex;
    justify-content: row;
    gap: 10px;  
   
}

.button {
   
    align-items: center;
  
}
.container {
    display: flex;
    justify-content: center;
    width: 1200px;
    
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    padding-bottom: 94px;
    flex-wrap: wrap;
}

.app-name {
    weight: 500;
    color: #2E2F42;
}

.footer {
    background-color: black;
    color: #F4F4FD;
    padding: 94px;
}

.logo2::before {
    content: "Web";
    color: blue;
}

.text {
    width: 240px;
    height: 80px;
}



